<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="screen-orientation" content="portrait">
    <link rel="stylesheet" href="./dep/bootstrap-3.3.5/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./dep/bootstrap-3.3.5/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="./src/css/index.css">
    <title>状态配图</title>
</head>
<body>
    <div class="container header bg-primary">
        <div class="row ">
            <div class="col-xs-3 text-left">
                <h4 class="glyphicon glyphicon-menu-hamburger"></h4>
            </div> 
            <div class="col-xs-6 text-center">
                <h4>魔法配图</h4>
            </div> 
            <div class="col-xs-3 text-right">
                <h4>搜索</h4>
            </div>  
        </div>
    </div>    
    <div class="container main">
        <div class="row first-tag-page">
            <div class="col-xs-12 text-center text-primary">
                <h3>选择您想要的标签</h3>
                <ul class="tag-first-list list-inline">
                    <li class="tag-item" v-for="item in tagsFirstList" v-on:click="chooseFirstTag(item, $event)"  >
                        <div class="tag-item-text">{{item.firstLabel}}</div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row second-tag-page" style="display:none;">
            <div class="col-xs-12 text-left text-primary nav-wrap">
                <div class="tag-nav " @click="backFirstList()">
                    {{nav.firstLabel}}
                </div>
            </div>
            <div class="list-wrap col-xs-12 text-center text-primary">
                
                <ul class="tag-second-list list-inline">
                    <li class="tag-item" v-for="item in tagsSecondList" v-on:click="chooseSecondTag(item, $event)"  >
                        <div  class="tag-item-text">{{item.secondLabel}}</div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row photo-page" style="display:none;" >
            <div class="col-xs-12 text-left text-primary nav-wrap">
                <div class="tag-nav " @click="backFirstList()">
                    {{nav.first.firstLabel}}
                </div>
                <div class="tag-nav" @click="backSecondList()">
                    {{nav.second.secondLabel}}
                </div>
            </div>

            <div class="list-wrap col-xs-12 text-center text-primary">
                <div class="iScroll-wrapper">
                    <div class="scroller">
                        <div class="pull-down">
                            <span class="am-icon-arrow-down pull-label" style="display: none;">下拉刷新</span>
                            <span class="am-icon-spinner am-icon-spin pull-loading" ></span>
                        </div>
                        <ul class="photo-list list-inline">
                            <li class="photo-item " v-for="item in photos.list" @click="choosePhoto(item, $event)"  >
                                <img v-bind:src="item.url" class="img-thumbnail">
                            </li>
                        </ul>
                        <div class="up-down ">

                            <span v-show="loadStatus == 0" class="load-more-data btn btn-primary" @click="loadMore()" >加载更多</span>
                            <span v-show="loadStatus == 1" class="loading-data am-icon-spinner am-icon-spin">正在加载...</span>
                            <span v-show="loadStatus == 2" class="no-more-data">没有更多了</span>
                        </div>
                    </div>
                </div>
            </div>
            <div @click="backTop" class="back-top" style="display:none;">
                <div class="back-top-mask"></div>
                <div class="back-top-content glyphicon glyphicon-arrow-up text-center"></div>
            </div>
        </div>

    </div>
    <div class="container footer bg-primary">
        <div class="row ">
            <div class="col-xs-12 text-center">
                <h5>状态配图工具@hackthon 2015-11</h5>
            </div>   
        </div>
    </div>
    
    <script src="./dep/jquery/jquery-1.11.3.js"></script>
    <script src="./dep/bootstrap-3.3.5/dist/js/bootstrap.min.js"></script>
    <script src="//s1.bdstatic.com/r/www/cache/ecom/esl/2-0-6/esl.source.js"></script>
    <script src="./src/main.js"></script>
</body>
</html>