@bg-primary: #337ab7;

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}

.main {
    margin-top: 40px;
}

.first-tag-page {
    display: none;
}

.tag-first-list li,
.tag-second-list li {

    margin: 5px;

    width: 80px;
    height: 80px;
    padding: 10px;
    border: 1px solid #444444;

    border-radius: 40px;
    background: @bg-primary;
    color: #ffffff;
}
.tag-item-text {
    margin-top: 50%;
    transform: translateY(-50%);
}


.second-tag-page {
    // display: none;
    .tag-nav {

        float: left;
        margin: 5px;

        height: 40px;
        padding: 10px;
        border: 1px solid #444444;
        border-radius: 15px;

        background: @bg-primary;
        color: #ffffff;
    }
}

.photo-page {
    .tag-nav {

        float: left;
        margin: 5px;

        height: 40px;
        padding: 10px;
        border: 1px solid #444444;
        border-radius: 15px;

        background: @bg-primary;
        color: #ffffff;
    }

    .photo-item {
        width: 100%;
        overflow: hidden;
        img {
            width: 100%;
        }
    }
}


