@bg-primary: #337ab7;

// html,
// body {
//     height: 100%;
// }

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;

    width: 100%;
    height: 40px;
}

.main {
    box-sizing: border-box;
    padding-top: 40px;
    height: 100%;
    overflow-y: auto;
}

.first-tag-page {
    display: none;
}

.nav-wrap {
    // border: 1px solid #333333;
}

.tag-first-list li,
.tag-second-list li {

    margin: 5px;

    width: 80px;
    height: 80px;
    padding: 10px;
    border: 1px solid #444444;

    border-radius: 40px;
    background: @bg-primary;
    color: #ffffff;
}
.tag-item-text {
    margin-top: 50%;
    transform: translateY(-50%);
}


.second-tag-page {
    // display: none;
    .tag-nav {

        float: left;
        margin: 5px;

        height: 40px;
        padding: 10px;
        // border: 1px solid #444444;
        border-radius: 20px;

        background: @bg-primary;
        color: #ffffff;
    }
}

.photo-page {
    
    .tag-nav {

        float: left;
        margin: 5px;

        height: 40px;
        padding: 10px;
        // border: 1px solid #444444;
        border-radius: 20px;

        background: @bg-primary;
        color: #ffffff;
    }

    .photo-list-wrap {
        // position: absolute;
        // z-index: 5;
        // top: 100px;
        // bottom: 0;
        // left: 0;
        // width: 100%;
        // background: #ccc;
        // overflow: hidden;
    }

    .photo-list {
        // position: absolute;
        // z-index: 5;
    }

    .photo-item {
        width: 100%;
        overflow: hidden;
        img {
            width: 100%;
        }
    }

    .up-down {
        margin-bottom: 20px;
    }
}

// .iScroll-wrapper {
//   position: absolute;
//   z-index: 1;
//   top: 0;
//   bottom: 0;
//   left: 0;
//   width: 100%;
//   overflow: hidden;
//   margin: 0;
//   background: #f7f7f7;
//   .scroller {
//     position: absolute;
//     z-index: 1;
//     //background: white;
//     -webkit-tap-highlight-color: rgba(0,0,0,0);
//     width: 100%;
//     -webkit-transform: translateZ(0);
//     -moz-transform: translateZ(0);
//     -ms-transform: translateZ(0);
//     -o-transform: translateZ(0);
//     transform: translateZ(0);
//     -webkit-touch-callout: none;
//     -webkit-user-select: none;
//     -moz-user-select: none;
//     -ms-user-select: none;
//     user-select: none;
//     -webkit-text-size-adjust: none;
//     -moz-text-size-adjust: none;
//     -ms-text-size-adjust: none;
//     -o-text-size-adjust: none;
//     text-size-adjust: none;
//   }
// }
